#dictionarySelector160 {
	width:23px;
	height:24px;
	float:left;
	padding:0; 
	overflow-x:hidden;
	margin-top:1px;
}
#dictionarySelector160:hover{
	background:url(https://www.oxfordlearnersdictionaries.com/external/images/widget_old/lang-hover.png?version=1.6.51) no-repeat;
	} 

#search-btn160:hover{
	background:url(https://www.oxfordlearnersdictionaries.com/external/images/widget_old/search-hover.png?version=1.6.51)!important;
	} 

#search-btn160:active{
	background:url(https://www.oxfordlearnersdictionaries.com/external/images/widget_old/search-active.png?version=1.6.51)!important;
	}

.container {
	width:160px; 
	height: 80px; 
	border-color: #000; 
	border-width:1; 
	background:url('https://www.oxfordlearnersdictionaries.com/external/images/widget_old/widget160.png?version=1.6.51') no-repeat;
} 

#oldform {
	display:inline-block;
	margin:46px 0 0 10px;
}

#dictionary-selector {
	text-indent:-9999px; 
	border:0;
	background:transparent;
	-webkit-appearance:none;
	-moz-appearance:none;padding-left:35px\0/
}

#searchfield {
	width:85px; 
	height:18px;
	border:0;
	padding-left:5px;
	margin-top:3px;
	border-radius:20px;
}

#search-btn160 {
	background:none; 
	border:none;
	width:25px;
	height:24px; 
	margin-top:1px; 
	margin-left:1px;
}